header {
    background-image: url("resources/images/colorfulHeader.jpg");
    height:300px;
    width: 100%;
    border-radius:10px;
}

table {
    width: 100%;
    border:1px solid black;
    margin: 10px 0px;
}


.headerText {
    width:fit-content;
    height: 100px;
    border-radius: 5px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    font-size: 75px;
    font-family: Montserrat;
    background-color: rgba(255, 255, 255, 0.9);
    margin: 0 10px;
}

.colors ul {
    position: relative;
    width: fit-content;
    margin-left: 50%;
    transform: translate(-50%, 0);

}

.colors li {
    display: inline;
    float: left;
    border: 1px solid black;
    font-size: 20px;
    height: 100px;
    width: 100px;
    border-radius: 50px;
    margin: 25px;
}


.fonts th {
    vertical-align: top;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
}

td  {
    font-size: 14px;
    text-align: center;
    width: 33%;
    border: 1px solid black;
}

th {
    background-color: lightblue;
}

.pink {
    background-color: rgb(255,212,229);
}

.purple {
    background-color: rgb(224,205,255);
}

.blue {
    background-color: rgb(189,232,239);
}

.green {
    background-color: rgb(183,215,132);
}

.yellow {
    background-color: rgb(254,255,162);
}

.Hubballi {
    font-family: Hubballi;
}

.Montserrat {
    font-family: Montserrat;
}

.BhuTuka {
    font-family: 'BhuTuka Expanded One';
}

.mainHeading {
    font-weight: 700;
    font-family: Montserrat;
    font-size: 26px;
}

.subHeading {
    font-weight: 500;
    font-family: 'BhuTuka Expanded One';
    font-size: 18px;
}

.standardText {
    font-weight: 400;
    font-family: Hubballi;
    font-size: 14px;
}